{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "build": {
      "ignore": [
        "**/*.test.js"
      ],
      "presets": [
        ["env", {
          "targets": {
            "node": "6.0.0"
          },
          "loose": true,
          "useBuiltIns": true,
          "debug": true,
          "comments": false
        }],
        ["minify", {
          "mangle": false
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "shebang",
        "minify-constant-folding",
        "minify-flip-comparisons",
        "minify-guarded-expressions",
        "minify-infinity",
        "minify-replace",
        "minify-simplify",
        "minify-type-constructors",
        "transform-member-expression-literals",
        "transform-merge-sibling-variables",
        "transform-minify-booleans",
        "transform-property-literals",
        "transform-simplify-comparison-operators",
        "transform-undefined-to-void"
      ]
    }
  }
}
