{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "build": {
      "ignore": [
        "**/*.test.js"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "0.1.0"
            },
            "loose": true,
            "useBuiltIns": "usage",
            "debug": true,
            "corejs": 3
          }
        ],
        ["minify",{
          "mangle": false
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "shebang"
      ]
    }
  }
}
